<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>844834964611-soflkmedmjpboberoea45h3cr711tb77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.844834964611-soflkmedmjpboberoea45h3cr711tb77</string>
	<key>API_KEY</key>
	<string>AIzaSyA7oCdMSTlLlnfYMnfT7q9Ns27rW2pXYPs</string>
	<key>GCM_SENDER_ID</key>
	<string>844834964611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myCryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>my-crypto-wallet-e467a</string>
	<key>STORAGE_BUCKET</key>
	<string>my-crypto-wallet-e467a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:844834964611:ios:4d24566623ad8e9188c7b6</string>
</dict>
</plist>